.card {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side {
        background-color: orangered;
        color: #fff;
        font-size: 2rem; /* Assuming you meant 2rem, not 20rem */
        height: 50rem;
        transition: all .8s;
    }

    &:hover &__side {
        transform: rotateY(180deg);
    }
}